@charset "utf-8";

@media screen and (min-width:666px){
    div#info{
        max-width: 600px;
        
    }
}

@media screen and (min-width:950px){
    div#info{
        max-width: 900px;
    }
    div#textos{
        width: 60%;
    
    }
    h3{
        line-height: 2em;
    }
    img{
        display: none;
    }
    img.plus{
        display: inline;
        height: 200px;
        width: 200px;
    }
    img#bcvnome{
        width: 80%;
        height: 5%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 60px;
    }
    img#bcvlogo{
        float: right;
        width: 30%;
        height: 60vh;
        margin-right: 6%;
    }
    input#pdf{
        position: relative;
        left: 1%;
        width: 60%;
        background-color: white;
        border-color: blue;
        color: blue;
    }
    input#pdf:hover{
        background-color: rgb(40, 8, 248);
        color: white;
    }
}
